.sitemap {
  border-top: 1px solid #ddd;
  padding: 40px 60px;
  justify-content: center;
  display: flex;
  background-color: #ffffff97;
}

.footer-container {
  display: flex;
  gap: 200px;
  align-items: flex-start;
  text-align: left;
}

.footer-logo img {
  width: 80px;
}

.footer-column h4 {
  font-weight: 700;
  margin-bottom: 8px;
}

.footer-column a {
  display: block;
  text-decoration: none;
  color: #222;
  margin: 4px 0;
}

.footer-column a:hover {
  text-decoration: underline;
}

.credit {
  text-align: center;
}