.heading-image {
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.heading-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}

.heading-image h1 {
    color: white;
    text-shadow: 2px 2px 5px black;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}