.slides {
  display: none;
  position: relative;
}

.slides img {
  vertical-align: middle;
  width: 100%;
  height: 100vh;
  filter: brightness(50%);
}

.slideshow-container {
  max-width: none;
  position: relative;
  margin: auto;
  width: 100%;
}

.slideshow-container div img.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: .4 }
  to { opacity: 1 }
}

@media only screen and (max-width: 300px) {
  .text { font-size: 11px }
}