body{
    background-color:#cbeaac;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff97;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
}

ul li:first-child{
    margin-right: auto;
}

ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

ul li a:hover{
    background-color: #ffffffcd;
}

.sitemap{
    border-top: 1px solid #ddd;
    padding: 40px 60px;
    justify-content: center;
    display: flex;
}

.footer-container{
    display: flex;
    gap: 200px;
    align-items: flex-start;
    text-align: left;
}

.footer-logo img{
    width: 80px;
}

.footer-column h4{
    font-weight: 700;
    margin-bottom: 8px;
}

.footer-column a{
    display: block;
    text-decoration: none;
    color: #222;
    margin: 4px 0;
}

.footer-column a:hover{
    text-decoration: underline;
}